<%= form_for @sampleforms do |f| %>

    <div class="first">
        <%= f.label :Question %>
        <%= f.text_field :Question %>
    </div>

    <div class="second">
        <%= f.label :A %>
        <%= f.text_field :A %>

        <%= f.label :B %>
        <%= f.text_field :B %>
    </div>

    <div class="second">
        <%= f.label :C %>
        <%= f.text_field :C %>

        <%= f.label :D %>
        <%= f.text_field :D %>
    </div>

    <div class="third">
        <%= f.label :Answer %>
        <%= f.text_field :Ans %>
    </div>

    <div class="third">
        <%= f.label :Level %>
        <%= f.radio_button :Level,'Easy', :checked => true %>Easy
        <%= f.radio_button :Level, 'Hard' %>Hard


        <%= f.label :Subjects %>
        <%= f.select :Subj, [['Biology','Biology'],['Chemistry','Chemistry'],['Maths','Maths'],['Physics','Physics']] %>
    </div>

    <p>
        <%= f.submit "Submit" %>
    </p>




<% end %>