<%= link_to "Enter the Question", new_sampleform_path %> <b/>
<table border="1">
    <thead>
    <tr>
        <th>Question</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
        <th>Answer</th>
        <th>level</th>
        <th>Subjects</th>
    </tr>
    </thead>
    <tbody>
    <%= @sampleforms.each do |sampleform| %>
        <tr>
            <td><%= sampleform.Question %></td>
            <td><%= sampleform.A %></td>
            <td><%= sampleform.B %></td>
            <td><%= sampleform.C %></td>
            <td><%= sampleform.D %></td>
            <td><%= sampleform.Ans %></td>
            <td><%= sampleform.Level %></td>
            <td><%= sampleform.Subj %></td>
            <td></td>

            <td><%= link_to "Delete", sampleform, method: :delete, data: {:confirm=>"Are you sure ? "} %></td>

        </tr>

    <% end %>

    </tbody>

</table>
